# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.brf
*.dvi
*.log
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.idx
*.ind
*.ilg
*.synctex.gz
*.fls
*.fdb_latexmk
*.mtc
*.mtc1
*.maf
*.nav
*.snm
*.vrb
*.tdo
*.upa
*.spl
*.sps
*.bak
*.old
*~
